<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clt.mapper.CommentMapper">

    <!--   创建评论  -->
    <insert id="createCommentToSolution" useGeneratedKeys="true" keyProperty="comment.id">
        INSERT INTO solution_comment (solution_id, user_id, content) VALUES (#{comment.solutionId}, #{comment.userId}, #{comment.content})
    </insert>
    <insert id="createCommentToComment" useGeneratedKeys="true" keyProperty="comment.id">
        INSERT INTO solution_comment (solution_id, user_id, content, parent_id) VALUES (#{comment.solutionId}, #{comment.userId}, #{comment.content}, #{comment.parentId})
    </insert>

    <!--   点赞评论  -->
    <update id="likeComment">
        UPDATE solution_comment SET like_count = like_count + 1 WHERE id = #{id}
    </update>

    <!--   删除评论  -->
    <delete id="deleteCommentsBySolutionId">
        DELETE FROM solution_comment WHERE solution_id = #{solutionId}
    </delete>

    <!--   删除评论  -->
    <delete id="deleteComment">
        DELETE FROM solution_comment WHERE id = #{id}
    </delete>

    <!--   取消点赞  -->
    <update id="cancelLikeComment">
        UPDATE solution_comment SET like_count = like_count - 1 WHERE id = #{id}
    </update>

    <!--   获取评论  -->
    <select id="getCommentsBySolutionId" resultType="com.clt.vo.CommentResultVO">
        SELECT s.id          AS id,
               s.solution_id AS solution_id,
               s.user_id     AS user_id,
               u.nickname    AS nickname,
               u.avatar      AS avatar,
               s.parent_id   AS parent_id,
               s.content     AS content,
               s.like_count  AS like_count,
               s.create_time AS create_time
        FROM solution_comment s
                 JOIN users u ON s.user_id = u.id
        WHERE solution_id = #{solutionId}
        ORDER BY s.create_time DESC
    </select>

    <!--   获取评论  -->
    <select id="getCommentById" resultType="com.clt.entity.Comment">
        SELECT * FROM solution_comment WHERE id = #{id}
    </select>

</mapper>