<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clt.mapper.VirtualPetMapper">

    <!--   创建虚拟宠物  -->
    <insert id="createVirtualPet">
        INSERT INTO pets (name,user_id) VALUES (#{petName},#{userId})
    </insert>

    <!--   更新虚拟宠物  -->
    <update id="updateVirtualPet">
        UPDATE pets
        <set>
            <if test="virtualPet.getName() != null">
                name = #{virtualPet.name},
            </if>
            <if test="virtualPet.getExperience() != null">
                experience = #{virtualPet.experience},
            </if>
            <if test="virtualPet.getLevel() != null">
                level = #{virtualPet.level},
            </if>
            <if test="virtualPet.getPunchDate() != null">
                punch_date = #{virtualPet.punchDate},
            </if>
            <if test="virtualPet.getNumberOfPunchOuts() != null">
                number_of_punch_outs = #{virtualPet.numberOfPunchOuts}
            </if>
        </set>
        WHERE id = #{virtualPet.id}
    </update>

    <!--   获取虚拟宠物id  -->
    <select id="getIdByUserId" resultType="java.lang.Integer">
        SELECT id FROM pets WHERE user_id = #{userId}
    </select>

    <!--   获取虚拟宠物  -->
    <select id="getVirtualPet" resultType="com.clt.entity.VirtualPet">
        SELECT id, user_id, name, experience, level, created_at, punch_date, number_of_punch_outs FROM pets WHERE user_id = #{userId}
    </select>

    <!--   获取虚拟宠物经验  -->
    <select id="getExperience" resultType="java.math.BigInteger">
        SELECT experience FROM pets WHERE id = #{id}
    </select>

    <!--   获取虚拟宠物 punch_date  -->
    <select id="getPunchDate" resultType="java.time.LocalDateTime">
         SELECT punch_date FROM pets WHERE user_id = #{userId}
    </select>

    <!--   获取虚拟宠物 number_of_punch_outs  -->
    <select id="getNumberOfPunchOuts" resultType="java.lang.Integer">
        SELECT number_of_punch_outs FROM pets WHERE user_id = #{userId}
    </select>

    <!--  获取话术  -->
    <select id="getAcceptedPhrases" resultType="java.lang.String">
        SELECT accepted FROM pet_phrases WHERE pet_id = #{id}
    </select>
    <select id="getWrongAnswerPhrases" resultType="java.lang.String">
        SELECT wrong_answer FROM pet_phrases WHERE pet_id = #{id}
    </select>
    <select id="getTimeLimitExceededPhrases" resultType="java.lang.String">
        SELECT time_limit_exceeded FROM pet_phrases WHERE pet_id = #{id}
    </select>
    <select id="getCompileErrorPhrases" resultType="java.lang.String">
        SELECT compile_error FROM pet_phrases WHERE pet_id = #{id}
    </select>
    <select id="getRuntimeErrorPhrases" resultType="java.lang.String">
        SELECT runtime_error FROM pet_phrases WHERE pet_id = #{id}
    </select>
    <select id="getInternalErrorPhrases" resultType="java.lang.String">
        SELECT internal_error FROM pet_phrases WHERE pet_id = #{id}
    </select>
    <select id="getExecFormatErrorPhrases" resultType="java.lang.String">
        SELECT exec_format_error FROM pet_phrases WHERE pet_id = #{id}
    </select>
    <select id="getMemoryOutOfRangePhrases" resultType="java.lang.String">
        SELECT memory_out_of_range FROM pet_phrases WHERE pet_id = #{id}
    </select>

    <!--   获取虚拟宠物name  -->
    <select id="getNameById" resultType="java.lang.String">
        SELECT name FROM pets WHERE id = #{id}
    </select>

</mapper>