<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clt.mapper.ProblemMapper">

    <!--  添加问题  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO problems (title, description, input_format, output_format, time_limit, memory_limit, difficulty, hint)
        VALUES (#{title}, #{description}, #{inputFormat}, #{outputFormat}, #{timeLimit}, #{memoryLimit}, #{difficulty}, #{hint})
    </insert>

    <!--  更新问题  -->
    <update id="update">
        UPDATE problems
            <set>
                <if test="title != null">
                    title = #{title},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="inputFormat != null">
                    input_format = #{inputFormat},
                </if>
                <if test="outputFormat != null">
                    output_format = #{outputFormat},
                </if>
                <if test="timeLimit != null">
                    time_limit = #{timeLimit},
                </if>
                <if test="memoryLimit != null">
                    memory_limit = #{memoryLimit},
                </if>
                <if test="difficulty != null">
                    difficulty = #{difficulty},
                </if>
                <if test="hint != null">
                    hint = #{hint}
                </if>
            </set>
        WHERE id = #{id}
    </update>

    <!--  删除问题  -->
    <delete id="deleteById">
        DELETE FROM problems WHERE id = #{id}
    </delete>


    <delete id="deleteSolutionContentBySolutionId">
        DELETE FROM solution_content WHERE solution_id = #{solutionId}
    </delete>

    <delete id="deleteSolutionCommentBySolutionId">
        DELETE FROM solution_comment WHERE solution_id = #{solutionId}
    </delete>

    <delete id="deleteSolutionByProblemId">
        DELETE FROM solutions WHERE problem_id = #{id}
    </delete>

    <delete id="deleteUserProblemStatusByProblemId">
        DELETE FROM user_problem_status WHERE problem_id = #{id}
    </delete>

    <delete id="deleteSolvedProblemCountByProblemId">
        DELETE FROM solved_problem_counts WHERE problem_id = #{id}
    </delete>

    <!--  获取题目列表  -->
    <select id="getProblemTilesList" resultType="com.clt.entity.Problem">
        SELECT id, title, difficulty FROM problems
    </select>

    <!--  通过题目ID获取题目详情  -->
    <select id="getProblemById" resultType="com.clt.entity.Problem">
        SELECT * FROM problems WHERE id = #{id}
    </select>

    <!--  通过题目和题目描述获取题目ID  -->
    <select id="getIdByTitleAndDescription" resultType="java.lang.Integer">
        SELECT id FROM problems WHERE title = #{title} AND description = #{description}
    </select>

    <!--  搜索题目列表  -->
    <select id="searchProblemList" resultType="com.clt.entity.Problem">
        SELECT id, title, difficulty FROM problems WHERE title LIKE concat('%', #{title}, '%')
    </select>

    <!--  获取题目列表分页  -->
    <select id="getProblemTilesListOfPage" resultType="com.clt.entity.Problem">
        SELECT id, title, difficulty FROM problems LIMIT #{start}, #{pageSize}
    </select>

    <!--  获取题目列表总数  -->
    <select id="getProblemListCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM problems
    </select>

    <select id="getProblemTilesListByDifficultyOfPage" resultType="com.clt.entity.Problem">
        SELECT id, title, difficulty FROM problems WHERE difficulty = #{difficulty} LIMIT #{start}, #{pageSize}
    </select>
    <select id="getRecommendProblem" resultType="com.clt.entity.Problem">
        SELECT id, title, difficulty, description FROM problems
    </select>

    <select id="getSolutionIdByProblemId" resultType="java.lang.Integer">
        SELECT id FROM solutions WHERE problem_id = #{id}
    </select>

    <select id="getFilteredProblemCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM problems WHERE difficulty = #{difficulty}
    </select>

    <select id="getProblemByKeywordCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM problems WHERE title LIKE concat('%', #{keyword}, '%') LIMIT #{start}, #{pageSize}
    </select>

</mapper>