<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clt.mapper.UserMapper">
    <!--  根据用户名修改密码  -->
    <update id="changePassword">
        UPDATE users SET password = #{newPassword} WHERE username = #{username}
    </update>

    <!--  修改用户信息  -->
    <update id="updateUserInfo">
        UPDATE users
            <set>
            <if test="user.nickname != null">nickname = #{user.nickname},</if>
            <if test="user.hobby != null">hobby = #{user.hobby},</if>
            <if test="user.introduction != null">introduction = #{user.introduction},</if>
            <if test="user.avatar != null">avatar = #{user.avatar}</if>
            </set>
        WHERE id = #{userId}
    </update>

    <!--  删除用户  -->
    <delete id="deleteUser">
        DELETE FROM users WHERE id = #{id}
    </delete>

    <!-- 根据用户名查询用户 -->
    <select id="findByUsername" resultType="com.clt.entity.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <!-- 根据用户名查询密码 -->
    <select id="findPasswordByUsername" resultType="java.lang.String">
        SELECT password FROM users WHERE username = #{username}
    </select>

    <!-- 根据用户名查询用户信息 -->
    <select id="findUserByUsername" resultType="com.clt.entity.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <!-- 根据id查询用户信息 -->
    <select id="findUserById" resultType="com.clt.entity.User">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <!--  查询所有用户信息  -->
    <select id="getAllUsers" resultType="com.clt.vo.AllUserResultVO">
        SELECT users.id as id, nickname, submit_time as last_submit_time FROM users join submissions
        WHERE submit_time = (SELECT MAX(submit_time) FROM submissions)
    </select>

    <!--  查询所有用户排名  -->
    <select id="getUsersRank" resultType="com.clt.vo.UserRankVO">
        SELECT u.id as user_id, nickname, avatar
        FROM users u INNER JOIN solved_problem_counts s ON u.id = s.user_id
        WHERE solved_count > 0
        GROUP BY u.id, u.nickname
        ORDER BY COUNT(*) DESC
    </select>

    <!-- 插入新用户 -->
    <insert id="insert" parameterType="com.clt.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, role, created_at, nickname)
        VALUES (#{username}, #{password}, #{role}, #{createdAt}, #{nickname})
    </insert>


    <update id="addPunchCount">
        UPDATE users SET punch_count = punch_count + 1, last_punch_time = NOW() WHERE id = #{userId}
    </update>
</mapper>